@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import "bootstrap-sprockets";
@import "bootswatch/flatly/variables";
@import "bootstrap";
@import "bootswatch/flatly/bootswatch";

.dataTable > thead > tr > th[class*="sort"]:after{
    content: "" !important;
}

.container {
  padding-top: 10%;
}

%p > rules {
  margin-bottom: 100px;
}

.buttons {
  text-align: center;
}

td.center {
  text-align: center;
}

.table tbody > tr > td {
    vertical-align: middle;
}

.table thead > tr > th {
    text-align: center;
}

.dataTables_info {
  width: auto;
  float: left;
}

#color h1, p, li{
  color: white;
}

.main {
  background: url(logo.png) no-repeat center fixed;
}

.fighter {
  background: url(fighters.png) no-repeat bottom fixed;
}

.fight {
  background: url(fight.png) no-repeat center fixed;
  background-size: 70%;
}

.fighter_page {
  background: url(fighter_page.png) no-repeat bottom fixed;
  background-size: 80%;
}

.rankings {
  background: url(rankings.png) no-repeat right fixed;
  background-size: 30%;
}

.jumbotron {
  background: rgb(93, 94, 95);
  background: rgba(93, 94, 95, 0.6);
}

body {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.messages {
  padding-top: 10px;
}

.center_stats {
  display: inline-block;
  vertical-align: middle;
  float: none;
  text-align: left;
}

.center {
  text-align: center;
  margin-left:auto; margin-right:auto
}

.row {
  text-align: center;
}

.form_padding {
  padding-top: 100px;
}

.back_table {
  max-width: auto;
  padding: 10px 10px 10px;
  margin: 0 auto 20px;
  background-color: rgba(255,255,255,0.9);
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.stats {
  max-width: 600px;
  padding: 10px 10px 10px;
  margin: 0 auto 20px;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.new_fighter {
  max-width: 650px;
  padding: 29px 29px 29px;
  margin: 0 auto 20px;
  background-color: rgba(255,255,255,0.6);
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.new_fight {
  max-width: 500px;
  padding: 29px 29px 29px;
  margin: 0 auto 20px;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.skills {
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
